/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;500;700&display=swap"); */

@font-face {
  font-family: 'Amiko-Bold';
  src: url('../fonts/Amiko-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Amiko-Regular';
  src: url('../fonts/Amiko-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bellefair-Regular';
  src: url('../fonts/bellefair.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

body {
  font-family: 'Amiko-Regular';
  font-size: 16px;
  /* font-weight: 400; */
}

.container {
  margin: 0 1em;
}

img {
  max-width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  background-color: black;
  color: white;
  padding: 22px;
  text-align: center;
}

.banner a {
  font-family: 'Amiko-Bold';
  color: white;
  text-decoration: underline;
}

.hero-banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.cover-photo{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cover-photo img {
  display: block; 
  /* width: 100%; */
  height: 70vh;
  /* max-width: 100%;
  max-height: 100%; */
  object-fit: cover;
}
.logo-overlay{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box-primary-title{
  font-family: 'Amiko-Bold';
  font-size: 40pt;
  line-height: 42pt;
}

.box-secondary-title{
  font-family: 'Bellefair-Regular';
  font-size: 40pt;
  line-height: 42pt;
}

.box-caption{
  font-family: 'Amiko-Regular';
  font-size: 16px;
  margin-top: 16px;
  line-height: 24px;
  max-width: 720px;
}

.box-button{
  font-family: 'Amiko-Bold';
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 8px 16px;
  width: fit-content;
}
/* .hero-banner img {
  width: 100%;
  height: auto;
} */

.overlay-img {
  object-fit: cover;
  /* position: absolute;
  top: 350px;
  left: 0;
  margin: 0px 2em; */
}
.box {
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.box-1 {
  /* background-color: #F0F0F0;
  margin-bottom: -224px; */
}

.box-2{
  /* position: absolute;
  left: 100px;
  top: 100px;
  border: 1px solid black;
  z-index: 1; */
}

.logo-grid {
  display: -ms-grid;
  display: grid;
}

.icon {
  height: 24px;
  width: auto;
  margin: 0 2em;
}

.section-main-kv img {
  width: 100%;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.d-inline {
  display: inline !important;
}

.bg-gradient-primary {
  background: #607c6d;
  background: linear-gradient(30deg, #607c6d 0%, #1c5d40 100%);
}

.bg-gradient-accent {
  background: #E84518;
  background: linear-gradient(135deg, #E84518 0%, #BF2510 100%);
}

.bg-gradient-primary-reverse {
  background: #1C5D40;
  background: linear-gradient(30deg, #1C5D40 0%, #607C6D 100%);
}

.bg-white {
  background: white !important;
}

.section-1a {
  position: relative;
  z-index: 1;
}

.section-1b {
  padding: 40px;
  position: relative;
  margin-top: -224px;
  z-index: 2;
}

.hero-primary-title {
  font-family: 'Amiko-Bold';
  font-size: 60pt;
  line-height: 60pt;
}

.hero-secondary-title {
  font-family: 'Bellefair-Regular';
  font-size: 60pt;
}

@media (max-width: 768px) {
  .section-1b {
    padding: 56px;
  }
}

@media (max-width: 640px) {
  .section-1b {
    padding: 24px 20px 12px;
  }
}

.section-1c {
  padding: 60px;
}

@media (max-width: 768px) {
  .section-1c {
    padding: 28px;
  }
}

@media (max-width: 640px) {
  .section-1c {
    padding: 36px 8px 12px;
  }
}

.page-1 .cta-wrapper .btn-cta {
  width: 80%;
  max-width: 364px;
  margin: 40px auto 20px;
}

@media (max-width: 640px) {
  .page-1 .cta-wrapper .btn-cta {
    margin: 24px auto 20px;
  }
}

.section-2 {
  display: grid;
  gap: 40px; /* Add a 40px gap between gap items */
}

.section-2-background { 

}

.section-2a, .section-2b {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-img {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image horizontally */
}

.box-img img {
  max-width: 100%;
  height: 380px;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Styles for screens larger than or equal to 768px (desktop screens) */
  .box-img img {
    min-width: 500px;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .section-2a, .section-2b {
    grid-template-columns: 1fr;
    text-align: center; 
  }

  .box-text {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all items horizontally */
  }

  .box-img {
    order: 1;
  }

  .box-img img {
    height: 380px;
    width: 100%; /* Ensure the image takes full width in mobile */
  }
}

/* .section-3 {
  margin-top: 120px;
  display: grid;
  gap: 20px;
} */

.section-3 {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .section-3 {
    margin-top: 60px;
  }
}

.card {
  flex: 10 calc(50% - 20px); /* Set each card to occupy 50% of the container width with a 10px gap */
  margin: 10px; /* Add 10px margin around each card */
  border: 0;
}

@media (max-width: 767px) {
  /* Styles for screens up to 767px (mobile screens) */
  .card {
    flex-basis: 100%; /* Set card width to 100% to occupy the entire row */
  }
}

.card-img img {
  width: 100%;
  height: auto;
}

.card-overlay {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-family: 'Bellefair-Regular';
  font-size: 32pt;
  line-height: 36pt;
  /* font-weight: bold; */
  color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
}

.card-text {
  padding: 0px 20px;
}

.card-text-content {
  font-family: 'Amiko-Regular';
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

.section-4 {
  height: 500px;
  padding-top: 65px;
  position: relative;
  margin-top: -107px;
  z-index: -1;
  background-image: url("../img/EAST_HIGHRES_PATTERN5B.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-4a {
  margin-top: 150px;
}

.section-4a-text {
  font-family: 'Bellefair-Regular';
  font-size: 16px;
  color: white;
}

.section-4a-link {
  font-family: 'Amiko-Bold';
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

.section-4d {
  margin: 40px 0;
}

.section-4d-text {
  font-family: 'Amiko-Bold';
  font-size: 16px;
  letter-spacing: 1.4px;
  color: white;
}

.section-4e {
  margin-top: 40px;
}

.section-4e-text {
  font-family: 'Amiko-Bold';
  font-size: 14px;
  letter-spacing: .1rem;
  color: white;
}